extends layout

block content
    h2 About
    
    p
        | NHub Demo app demonstrates how to use Azure Notification Hub to send a push with tags and template.
    p
        | It leverage <a href="https://www.npmjs.com/package/azure-mobile-apps">azure-mobile-app</a> node.js module and its undocumented features to simplify backend programming.
        | That is, No SAS token generation and No complex REST API coding is needed.
    p
        | Get <strong>NHub Demo</strong> from 
    
        a(href="https://github.com/iljoong/nhubdemo") https://github.com/iljoong/nhubdemo
    
    p iljoong@outlook.com